{% extends 'mysite/base.html' %}

{% block top %}
<!--<a href="#" class="btn btn-secondary btn-lg " role="button" aria-pressed="true">Add Book</a>-->
{% endblock %}

{% block body %}

{% if object_list %}

<ul class="book_list">
    {% for book in object_list %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/books/{{ book.id }}/">{{ book.name }}</a>
                <small class="text-muted">₹ {{ book.price }}</small>
            </div>
            <div>
                <p>
                    <small class="text-muted">By</small>
                    <a class="article-title">{{ book.author }}</a>
                </p>
            </div>

            <p class="article-content">{{ book.type }}</p>
        </div>
    </article>
    {% endfor %}
</ul>
{% else %}
<p>No books are available.</p>
{% endif %}

{%endblock%}

