{% extends 'mysite/base.html' %}

{% block body %}

<!-- Button trigger modal -->
<div id="add-book">{% block add-book %}{% endblock %}</div>

{% if object_list %}
<ul class="book_list">
    {% for book in object_list %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/books/{{ book.id }}/">{{ book.name }}</a>
                <small class="text-muted">₹ {{ book.price }}</small>
            </div>
            <div>
                <small class="text-muted">By</small>
                <h4><a class="article-title">{{ book.author }}</a></h4>
            </div>

            <p class="article-content">{{ book.type }}</p>
        </div>
    </article>
    {% endfor %}
</ul>
{% else %}
<p>No books are available.</p>
{% endif %}

{%endblock%}

