body{
    background: white;
    background-size: 1500px;
}

a{
    color: 343a40;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
}

ul{
    padding: 50px;
    list-style-type: none;
}

li{
    padding: 5px;
}

.bg-dark{
    height: 50px;

}
.book-header{
    color: 343a40;
    font-size: 20px;
    font-family: monospace;
    padding: 50px;
}
.details-body{
    background: white;
}

.nav-link{
    font-size: 19px;
}
.navbar-nav{
    padding: 0px 15px 0px 0px;

}
.btn-outline-secondary {
    color: #ffffff;
    padding-top: 5px;
}
.btn-primary{
    float: right;
    background-color: 343a40;
    margin-right: 80px;
    background-color: 343a40;

}

