body{
    background: white url("black.jpg");
    background-size: 1500px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20;
    font-family: monospace;
}

ul{
    padding: 50px;
    list-style-type: none;
}

li{
    padding: 5px;
}

.navbar-default{
    background-color: dimgrey;

}
.book-header{
    color: white;
    font-size: 20;
    font-family: monospace;
    padding: 50px;
}
.details-body{
    background: black;
}
