body{
    background: white;
    background-size: 1500px;
}

a{
    color: 343a40;
    text-decoration: none;
    font-size: 20px;
}

.body-block{
    padding: 30px 200px 50px 200px;
    list-style-type: none;
}

li{
    padding: 5px;
}

.bg-dark{
    height: 50px;

}

.nav-link{
    font-size: 19px;
}

.btn-top-nav{
    float: right;
    background-color: #343a40 !important;
    width: 100px !important;
    height: 40px !important;
    padding-top: 9px !important;

}
.navbar-right{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 10px !important;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
navbar-nav
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  padding: 0px 22px 12px 0px;
}

.account-heading {
  font-size: 2.5rem;
}

.top-container{
float: right;
padding: 1% 9% 0 0;
}



.list-body{
 width: 65%;
}


.create-form{
  margin: auto;
  width: 75%;
}

.btn-lg{
        padding: 5px 15px 5px 15px;
}

.element-right{
    position: absolute;
    right: 15px;


}
.view-actions{
    float: right;
    padding: 5px 5px 0px 5px;


}
