{% extends 'mysite/base.html' %}

{% block top %}
<a aria-pressed="true" class="btn btn-secondary btn-lg " href="{% url 'blog:blog-create' %}" role="button">+ Post</a>
{% endblock %}

{% block body %}
<ul class="blog_list">
    {% for object in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/blog/{{ object.id }}/">{{ object.title }}</a>
            </div>
            <p>
                <small class="text-muted">By {{ object.author }}</small>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
            </p>
        </div>
    </article>
    {% endfor %}
</ul>
{% endblock  %}  <!--no need to use content after endblock-->



