{% extends 'mysite/base.html' %}

{% block body %}
<div class="body-block">

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2>{{ object.title }}</h2>
            <small class="text-muted">By {{ object.author }}</small>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
        </div>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>

</div>
{% endblock  %}  <!--no need to use content after endblock-->
