{% extends 'mysite/base.html' %}

{% load crispy_forms_tags %}
{% block body %}
<div class="body-block">
    <div class="content-section create-form">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-secondary btn-lg" type="submit">Post</button>
                <a class="btn btn-secondary btn-lg" href="{% url 'blog:blog-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
